name: only use username and password

on:
  [push, pull_request, workflow_dispatch]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
        
        - name: 'Log in acr'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.AZ_REGISTRY_LOGIN_SERVER }}
            username: ${{ secrets.AZ_REGISTRY_USERNAME }}
            password: ${{ secrets.AZ_REGISTRY_PASSWORD }}
        
        - name: "pull"
          run: |
            docker pull ${{ secrets.AZ_REGISTRY_LOGIN_SERVER }}/sampleapp
